*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   /* nav superior*/
   body{
       /*background: rgba(5, 152, 249, 0.479);*/
   /*   background: rgba(252, 222, 0);*/
       /*background:#000000;*/
       background-color: #ebebeb;
       font-family: 'Roboto', sans-serif;
   }

   .header-top{
       width: 100%;
       border-bottom: 0  solid white;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-items: center;
   }
   .centro{
    text-align: center;
    margin-bottom: 2%;
   }

   .top{
       padding: 1% 0%;
       width: 100%;
       display: flex;
       background:#000000;
       align-items: center;
       justify-content: space-evenly;
   }
   
/*Logo de mercadolibre*/
img#logo{
    width: 77%;    
    padding: 0%;
    border: 0%;
    
}

.header-bottom{
    display: none;
    background:#000000;
}
/*BARRITA DE BUSQUEDA CON ICONO LUPA*/
.top > form#busqueda{
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}
form#busqueda >  input{
    width: 100%;
    height: 10%;
    outline: none;
    border: 1px solid transparent;
    padding:1% 0.5%;
}
form#busqueda >  button{
    outline: none;
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-left: 1px  solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > .fa-magnifying-glass{
    color: rgb(145, 145, 145);
    font-size: 10px;
}

   a {
    font-size: 1em;
    color: white;
    text-decoration: none;
}
   a:hover{
    color: #056bda;
   }
   a:visited{
       color: white;
   }
   .cen{
    align-content: center;
   }

   .centro{
    text-align: center;
    margin-bottom: 2%;

   }
   .header-bottom{
    display: none;
    background:#000000;
}
   .menu-bars{
    display: none;
    padding:3%;
    background-color: #056bda;
    color: white;
    border-radius: 18%;
} 
   .banner{   
       width: 100%;
       max-width: 100%;
       height: auto;
       margin-bottom: 20px;   
   }


 
    li {
        margin-left: 1%;
        margin-right: 1%;
        padding: 0%;
        transition: background-color 1s;
        list-style: none;
        display: inline-block; /* Agrega esta línea para que los elementos li estén en línea */
    }

    li:hover {
        background-color: rgba(5, 152, 249, 0.479);
    }


    .header-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-menu {
        padding: 10px 0px;
        background-color: #000000;
        width: 50%;
    }




   /**************************MAIN***************************/
.formulario {
    width: 50%;
    margin: 20px auto; /* Establece el margen superior e inferior en 20px y centra horizontalmente */
    padding: 20px; /* Añade algún espacio alrededor del formulario */
    text-align: left; /* Ajusta el texto del formulario a la izquierda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra para destacar el formulario */
    border-radius: 10px; /* Añade bordes redondeados al formulario */
    background-color: white;
}
.form-titulo{
    text-align: center;
    color: black;
}
input {
    width: calc(100% - 20px); /* Ancho del 100% con 20px de espacio alrededor */
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
.input:focus{
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul alrededor del input */

}
.input:active{
    border: 0.5px solid 1259c3;
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 12px;
    margin-left:0 ;
    
}
.datFormulario {
    text-align: left;
}
.radios{
    margin-right: 2%;
}
/********************radio *********************/

.radio-cajas{
    align-content: center;
    border: 0.4px solid #ccc;
    background-color: #f1f3ff;
    border-radius: 3%;
    padding: 2%;
    width: 47%;    
    text-align: center;    
}
.radio-cajas:hover{
    background-color: #fbfbff;
}
/*****************************************/
/******************checkbox ***********************/
.titulo-Interese {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.interes{
    margin-right: 5%;
}
.interes-label {
    display: flex;
    align-items: start;
    margin-left: 0%;
    margin-bottom: 5px;
}

.interes-label input {
    margin-left: 3%;
}
.cl{
color: white;
}
button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 47%;
    cursor: pointer;
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 10px; /* Añade un margen derecho para separar los botones */
}
button[type="reset"] {
    background-color: black;
    margin-right: 0; /* No añade margen derecho al botón "Borrar Datos" */
}
button:hover{
    background-color: #1259c3;
}


/**************************** FOOTER ********************************/
/* Estilos generales para cada sección */

footer {
    background-color: white;    
    margin-bottom: 0px;
    text-align: center;
}
.section-container {
    text-align: center; /* Alinea el contenido al centro */
}
.footer-section {
    width: 28%; 
    margin-bottom: 0%;
}

.footer-section {
    display: inline-block;
    margin: 0 9px; /* Añade un margen entre las secciones */
    padding: 1%;
    box-sizing: border-box;
    vertical-align: top; /* Alinea las secciones en la parte superior */
    text-align: center;
}
.footer-icono{
    size: 2em;
    text-align: center;
    color: black;
}
.footer-icono:hover{
    color: #1259c3;
    font-size: 2.5em;
}
/* Estilos específicos para títulos y párrafos */
.footer-titulo {
    color: #333;
    text-align: center;
}

.footer-parrafo {
    color: #666;
    text-align: justify;
}

.copyright p{
    text-align: start;
    size: 12px;
}
   
/*******************************************************/
/********************  CELULAR  *************************/
@media(max-width: 360px){
    .top{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    #logo{
        margin-left: 24%;
        margin-top: 2%;
        margin-bottom: 2%;   
    }
    form#busqueda{
        width: 80%;
        margin-left: 10%;
    }
    .bo {
        display: inline-block;
        align-content: center;    
    }
    .ok{
        display: inline-block;
        margin-left: 47%;
        margin-bottom: 2%;
        
    }
    footer{        
        display: block;
    }
    .footer-section{
        width: 70%;
    }
    .formulario {
        width: 90%;
    }
    .copyright p{
    text-align: start;   
    }
}
/*******************************************************/   
/******************** TABLET *************************/

    @media (min-width: 361px){
        .nav-menu {
            display: block; 
        }
        .logo{
            width: 100px;
        }
        .header-bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        nav{
        padding: 10px 0px;
        background-color: #000000;        /*EL color del seguna columnas donde esta elnav de menu*/
        width: 50%;
        }
        ul{
            list-style: none;
            display: flex;
            
            justify-content: center;
        }
        
        a{
            font-size: 1.7vw;
        }
        a:visited{
        color: #056bda;
        }
        .formulario {
            width: 70%;
    }
    .footer-section{
        width: 45%;
    }
    .copyright p {
        text-align: start;
      }    
    }
    
/*******************************************************/
/********************  DESKTOP *************************/
@media (min-width: 769px) {
    .formulario {
        width: 40%;
    }
    .header-top > nav{
        display: block;
    }
    a:hover{
    color: #056bda;
    }
    a{
        font-size: 1.5vw;
    }
 
    .footer-section{
        width: 30%;
    }
    }