body {
    background-color: #ebebeb;
}

.formulario {
    width: 50%;
    margin: 20px auto; /* Establece el margen superior e inferior en 20px y centra horizontalmente */
    padding: 20px; /* Añade algún espacio alrededor del formulario */
    text-align: left; /* Ajusta el texto del formulario a la izquierda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra para destacar el formulario */
    border-radius: 10px; /* Añade bordes redondeados al formulario */
    background-color: white;
}
.form-titulo{
    text-align: center;
    color: #056bda;
}
input {
    width: calc(100% - 20px); /* Ancho del 100% con 20px de espacio alrededor */
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
.input:focus{
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul alrededor del input */

}
.input:active{
    border: 0.5px solid #2553dc;
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 12px;
    margin-left:0 ;
    
}
.datFormulario {
    text-align: left;
}
.radios{
    margin-right: 2%;
}
/********************radio *********************/

.radio-cajas{
    align-content: center;
    border: 0.4px solid #ccc;
    background-color: #f1f3ff;
    border-radius: 3%;
    padding: 2%;
    width: 47%;    
    text-align: center;    
}
.radio-cajas:hover{
    background-color: #fbfbff;
}
/*****************************************/
/******************checkbox ***********************/
.titulo-Interese {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.interes-label {
    display: flex;
    align-items: start;
    margin-left: 0%;
    margin-bottom: 5px;
}

.interes-label input {
    margin-left: 3%;
}
.cl{
color: white;
}
/*****************************************/
/*.btn-login .btn-reset{
    background-color: rgb(31, 99, 200);
    padding: 3%;
    color: white;
    border-radius: 3%;
    border: 0;
    margin: 10px 0;
    cursor: pointer;
}
.btn-login:hover .btn-reset:hover{
    
    background-color: rgb(111, 236, 53);
}*/   
button {
    padding: 10px;
    background-color: #056bda;
    color: white;
    border: none;
    border-radius: 5px;
    width: 47%;
    cursor: pointer;
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 10px; /* Añade un margen derecho para separar los botones */
}
button[type="reset"] {
    background-color: #056bda;
    margin-right: 0; /* No añade margen derecho al botón "Borrar Datos" */
}
button:hover{
    background-color: #39b54a;
}